body {
  background-color: black;
  font-family: 'Quattrocento', serif;
  text-align: center;
}

div {
  padding-top: 50px;
  padding-bottom: 100px;
}

.white {
  background-color: white;
}

.black {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 35px;
  color: black;
}

.big {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  color: white;
}

h2 {
  font-size: 30px;
  font-weight: lighter;
  color: white;
}

a {
  color: darkorange;
}

.gray {
  font-size: 18px;
  color: gray;
}

.right {
  text-align: right;
  color: gray;
  padding-right: 10px;
}

.opacity {
  opacity: 0.5;
}
